.header-top {
  display: flex;
  justify-content: space-between;
  padding: 0 20px;
  background-color: whitesmoke;
  align-items: center;
}

.rasm {
  width: 60px;
  height: 60px;
  display: flex;
  justify-content: center;
  gap: 20px
}

.left {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.rasm1 {
  width: 20px;
  border-radius: 100%;
}

.buttoncha {
  border-radius: 10px;
  background-color: bisque;
  color: rgb(197, 18, 18);
  border: none;
  padding: 10px 15px;
}

.App {
  text-align: center;
}
